<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="login-app-module">
<form ng-controller="LoginController" novalidate>
    <fieldset>
        <label>Username:</label>
        <input name="username" type="text" ng-model="user.username" required/>

        <label>Password:</label>
        <input name="password" type="password" ng-model="user.password" required/>

        <input type="submit" value="Submit"/>
    </fieldset>
</form>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/modules/loginModule.js"></script>
<script src="js/app.js"></script>
</body>
</html>