<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../../lib/mailgun_validator.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="../../src/modules/rcMailgun.js"></script>
    <script src="scripts/LoginApp.js"></script>
    <script src="scripts/LoginController.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body ng-app="LoginApp" ng-controller="LoginController">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Login - with Mailgun Validator</h3>

            <form name="loginForm" novalidate="" ng-submit="login()">
                <div class="form-group">
                    <input class="form-control" name="email" type="text"
                           placeholder="Email" required="" ng-model="session.email" rc-mailgun-valid/>
              <span class="help-block">
                <span ng-show="loginForm.email.$error.required">Required</span>
                <span ng-show="loginForm.email.$error.rcMailgunEmailValid"> Invalid Email Address</span>
                <span ng-show="loginForm.email.$error.rcMailgunInProgress"> Validating Email Address</span>
                <span ng-show="rcMailgun.mailgunStatus"> Validation Error: {{ rcMailgun.mailgunStatus }}</span>
              </span>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" type="password"
                           placeholder="Password" required="" ng-model="session.password"/>
                    <span class="help-block" ng-show="loginForm.password.$error.required">Required</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="Login" title="Login"
                            ng-disabled="!loginForm.$valid">
                        <span>Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>