<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="login-app-module">
<form ng-controller="LoginController" name="loginForm" ng-submit="login(user)" novalidate>
    <fieldset>
        <label>Username:</label>
        <input name="username" type="text" ng-model="user.username" required/>

        <div ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                <span class="error" ng-show="loginForm.username.$error.required">
                    This field (username) is required
                </span>
        </div>
        <label>Password:</label>
        <input name="password" type="password" ng-model="user.password" required/>

        <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                <span class="error" ng-show="loginForm.password.$error.required">
                    This field (password) is required
                </span>
        </div>
        <input type="submit" ng-disabled="loginForm.$invalid" value="Submit"/>
    </fieldset>
</form>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/modules/loginModule.js"></script>
<script src="js/app.js"></script>
</body>
</html>